h1 {
    color:white;
    background-color: black;
    font-family: cursive;
    padding:7px;
}
h1 span {
    color:#01ffff;
}
h2 {
    color:white;
    background-color: #663399;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-weight: lighter;
    padding: 7px;
}
h3 {
    background-color: #9fc5f8;
    text-align: right;
    text-decoration: underline;
    font-family: cursive;
    font-weight: lighter;
    padding: 7px;
}